* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-size: 16px;
}

body {
   font-size: 1rem;
   font-family: Poppins, sans-serif;
   background: hsl(235, 100%, 96%);
   height: 100vh;
   max-width: 100vw;
width: 100%;
   overflow: hidden;
}

.box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: linear-gradient(135deg, hsl(234, 100%, 82%) 0%, hsl(232, 100%, 73%) 25%, hsl(231, 99%, 66%) 40%, hsl(228, 96%, 57%) 62%, hsl(229, 87%, 53%) 80%, hsl(227, 88%, 47%) 100%);
   border-radius: 50%;
}

.box:before {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 1.25rem;
   height: 1.25rem;
   background-color: #fff;
   border-radius: 50%;
}

.handle {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.handle div {
   position: absolute;
   bottom: 50%;
   left: 50%;
   transform: translateX(-50%);
   background-color: #fff;
}

.sec {
   width: .125rem;
   height: 30%;
}

.min {
   height: 26%;
   width: .25rem;
}

.hour {
   height: 23%;
   width: .5rem;
}

.line {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   text-align: center;
   font-size: 1.5rem;
   padding: 1rem;
   color: #fff;
}

.line1 {
   transform: rotate(30deg);
}

.line1 div {
   transform: rotate(-30deg);
}

.line2 {
   transform: rotate(60deg);
}

.line2 div {
   transform: rotate(-60deg);
}

.line3 {
   transform: rotate(90deg);
}

.line3 div {
   transform: rotate(-90deg);
}

.line4 {
   transform: rotate(120deg);
}

.line4 div {
   transform: rotate(-120deg);
}

.line5 {
   transform: rotate(150deg);
}

.line5 div {
   transform: rotate(-150deg);
}

.line6 {
   transform: rotate(180deg);
}

.line6 div {
   transform: rotate(-180deg);
}

.line7 {
   transform: rotate(210deg);
}

.line7 div {
   transform: rotate(-210deg);
}

.line8 {
   transform: rotate(240deg);
}

.line8 div {
   transform: rotate(-240deg);
}

.line9 {
   transform: rotate(270deg);
}

.line9 div {
   transform: rotate(-270deg);
}

.line10 {
   transform: rotate(300deg);
}

.line10 div {
   transform: rotate(-300deg);
}

.line11 {
   transform: rotate(330deg);
}

.line11 div {
   transform: rotate(-330deg);
}

@media only screen and (max-width: 600px) {
   .box {
      width: 80vw;
      height: 80vw;
   }
}

@media only screen and (min-width: 600px) {
   .box {
      width: 70vh;
      height: 70vh;
   }
}
